h1,h2,h3,h4,h5{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 800;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 16px;
}
